
<div class="forum-bar">
    <div class="forum-bar-text">
        <div class="forum-bar-title">
            <a href="<%= '/forum/' + forum.id %>"><%= forum.title %></a>
        </div>
        <% if (forum.subforums.length) {%>
            <div class="forum-bar-subforums">
                Subforums: <a href="/forum/<%= forum.subforums[0].id %>"><%= forum.subforums[0].title %></a>
                <% for (let i = 1; i < forum.subforums.length; i++) {%>
                    ,<a href="/forum/<%= forum.subforums[i].id %>"><%= forum.subforums[i].title %></a>
                <% } %>
            </div>
        <% } %>
    </div>
    <div class="forum-bar-stats">
        <div class="forum-stats-threads"><%= forum.threadnum %></div>
        <div class="forum-stats-posts"><%= forum.postnum %></div>
    </div>
    
</div>