<div id="<%= 'post' + post.num %>"  class="post">
    <div class="post-header">
        <div class="<%= 'poster-name' + (post.header.alias ? ' obscured' : '') %>"><a><%= post.header.name %></a>
            <% if (post.header.alias) { %>
                <span>posting as</span>
            <% } %>
        </div>
        <% if (post.header.char) { %>
            <div class="poster-char-name"><%= post.header.char %></div>
        <% } %>
        <% if (post.header.icon) { %>
            <div class="poster-icon"><img src="<%= locals.imgpath + post.header.icon %>"></div>
        <% } %>
        <div class="poster-title"><%= post.header.title %></div>
        <div class="poster-date" date-format="M DD, YYYY"><%= post.header.date %></div>
    </div>
    <div class="post-content">
        <div class="post-text">
            <div class="post-area active" parse-bbcode>
                <%= post.textBlock.text %>
            </div>
        </div>
        <% if (post.textBlock.ooc && post.textBlock.ooc.length) { %>
            <button onclick="toggleShowPostOOC('<%=post.num%>')">Toggle OOC Text</button>
            <div class="post-ooc">
                <div class="post-area" parse-bbcode>
                    <%= post.textBlock.ooc %>
                </div>
            </div>
        <% } %>
        <% if (post.edit && post.edit.date) { %>
            <div class="post-edit">Edited at <%= post.edit.date %></div>
        <% } %>
    </div>
    <!-- div class="post-buttons">
        <div class="edit-button" v-if="username == post.header.name">
            <button @click="doEdit()">{{ isEditing ? 'Cancel' : 'Edit'}}</button>
        </div>
        <div class="quote-button" v-if="username.length">
            <button @click="sendQuoteEvent()">Quote</button>
        </div>
    </div -->
</div>