<div id="<%= 'post' + post.num %>"  class="post">
    <div class="post-header">
        <div class="<%= 'poster-name' + (post.header.alias ? ' obscured' : '') %>"><a><%= post.header.name %></a>
            <% if (post.header.alias) { %>
                <span>posting as</span>
            <% } %>
        </div>
        <% if (post.header.char) { %>
            <div class="poster-char-name"><%= post.header.char %></div>
        <% } %>
        <% if (post.header.icon) { %>
            <div class="poster-icon"><img src="<%= post.header.icon %>"></div>
        <% } %>
        <div class="poster-title"><%= post.header.title %></div>
        <div class="poster-date" date-format="M DD, YYYY"><%= post.header.date %></div>
    </div>
    <div class="post-content">
        <div class="post-text">
            <!-- div class="post-area" :class="{'active': !isEditing}" v-html="getFormattedText(post.textBlock.text)"></div-->
            <div class="post-area active" >
                <%= post.textBlock.text %>
            </div>
        </div>
        <div class="post-ooc" v-if="isGamePost" :class="{'hidden': oocHidden, 'bordered': post.textBlock.ooc && post.textBlock.ooc.length}">
            <!--div class="post-area" :class="{'active': !isEditing && !oocHidden}" v-if="post.textBlock.ooc" v-html="getFormattedText(post.textBlock.ooc)"></div-->
            <% if (post.textBlock.ooc) { %>
                <div class="post-area active" >
                    <%= post.textBlock.ooc %>
                </div>
            <% } %>
            <!--button v-if="isGamePost && (isEditing || (post.textBlock.ooc && post.textBlock.ooc.length > 0))" class="show-hide-ooc" @click="oocHidden = !oocHidden">{{ oocHidden ? 'Show' : 'Hide'}} OOC Content</button-->
        </div>
        <% if (post.edit && post.edit.date) { %>
            <div class="post-edit">Edited at <%= post.edit.date %></div>
        <% } %>
    </div>
    <!-- div class="post-buttons">
        <div class="edit-button" v-if="username == post.header.name">
            <button @click="doEdit()">{{ isEditing ? 'Cancel' : 'Edit'}}</button>
        </div>
        <div class="quote-button" v-if="username.length">
            <button @click="sendQuoteEvent()">Quote</button>
        </div>
    </div -->
</div>